{{ define "user/index.html" }}
{{template "public/header" .}}
  {{template "public/menu" .}}
  <div class="layui-body">
    <blockquote class="layui-elem-quote">
      本页面只是演示静态表格，如果你需要的是数据表格，可前往：
      <a class="layui-btn layui-btn-normal" href="table.html" target="_blank">表格模块示例</a>
    </blockquote>   
                 
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>默认表格</legend>
    </fieldset>
     
    <div class="layui-form">
      <table class="layui-table">
        <colgroup>
          <col width="150">
          <col width="150">
          <col width="200">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>id</th>
            <th>用户名</th>
            <th>密码</th>
          </tr> 
        </thead>
        <tbody>
          {{range .userArray}}
          <tr>
            <td>{{.ID}}</td>
            <td>{{.Username}}</td>
            <td>{{.Password}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
{{template "public/footer" .}}
{{ end }}